<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:be.pageRenderer
  includeJavaScriptModules="{
     0: '@k3n/tonictypes/GeneratedFieldIdentifier.js'
  }"
/>

<strong>{title}</strong>
<div id="code_gen"
     data-frontend-label-field-name="{frontendLabelFieldName}"
     data-frontend-label-value-field-name="{frontendLabelValueFieldName}"
     data-variable-name-field-name="{variableNameFieldName}"
     data-variable-value-field-name="{variableValueFieldName}"
>
    <span style="font-family: Courier, Courier new, monospace; font-size:16px; float:left; width:100%;" class="callout callout-info">
        <f:format.raw>{</f:format.raw>record.<div id="generated_code" style="display:inline; color:#F05C00; font-weight:700;">{code}</div><f:format.raw>}</f:format.raw>
    </span>
</div>

<br/>


</html>