<!-- CREATE TABLE -->
<div class="callout callout-warning d-flex flex-column">
    <h5>
        <strong>
            <f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:table.check.error.does_not_exist" arguments="{0:tableName}" />
        </strong>
    </h5>
    <div class="d-flex flex-column gap-2">
        <f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:table.check.message.create_table" />
        <div class="d-flex flex-column">
            <button type="button" class="btn btn-default w-auto align-self-start" id="tonictypes_table_status_migrate">
                <core:icon identifier="actions-add" size="small" />&nbsp;<f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:table.check.button.create_table" />
            </button>
        </div>
    </div>
</div>
<!-- /CREATE TABLE -->
