<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="module-docheader module-docheader-navigation t3js-module-docheader-navigation">
    <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation d-flex align-items-center gap-2">
        <div class="module-docheader-bar-container d-flex align-items-center gap-2">
            <core:icon identifier="{docHeaderIconIdentifier}" size="small"/>
            <span class=" module-docheader-column-breadcrumb">{docHeaderTitle}</span>
        </div>
    </div>
</div>
</html>
