<div class="callout callout-warning d-flex flex-column">
    <h5>
        <strong>
            <f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:class.check.error.does_not_exist" arguments="{0:className}" />
        </strong>
    </h5>
    <p>
        <f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:class.check.message.create_class" />
        <div class="d-flex flex-column mt-2">
            <button type="button" class="btn btn-default w-auto align-self-start" id="tonictypes_class_status_migrate">
                <core:icon identifier="actions-add" size="small" />&nbsp;<f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:class.check.button.create_class" />
            </button>
        </div>
        <br />
        <small>
            <em>
                <f:translate key="LLL:EXT:tonictypes/Resources/Private/Language/locallang.xlf:class.check.message.following_files_will_be_created" arguments="{0: '{classFileName}, {repositoryFileName}'}" />
            </em>
        </small>
    </p>
</div>